# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [35]:
cities_df = pd.read_csv('../WeatherPy/Output/cities.csv')
cities_df

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Ushuaia,-54.80,-68.30,44.60,70,75,5.86,AR,1603587071
1,1,Manta,-0.95,-80.73,73.40,78,90,8.05,EC,1603586852
2,2,Busselton,-33.65,115.33,73.99,34,29,10.31,AU,1603586630
3,3,Ponta do Sol,32.67,-17.10,62.60,77,20,4.70,PT,1603586853
4,4,Albany,42.60,-73.97,46.99,67,43,4.00,US,1603586944
...,...,...,...,...,...,...,...,...,...,...
548,548,Santa Flavia,38.09,13.54,66.99,62,0,10.00,IT,1603588110
549,549,Key Largo,25.09,-80.45,80.01,96,100,3.00,US,1603588111
550,550,Moerai,-22.43,-151.33,72.75,78,86,23.60,PF,1603588113
551,551,Kahului,20.89,-156.47,91.40,46,40,12.75,US,1603588114
552,552,Yasothon,15.75,104.13,73.99,77,100,8.55,TH,1603588115

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key=g_key)

In [22]:
locations = cities_df[['Latitude', 'Longitude']]
weights = cities_df['Humidity']
fig = gmaps.figure(zoom_level = 2, center = (0,0))
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))

In [23]:
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [50]:
clean_df = cities_df.dropna()

perfect_df = clean_df[(60 < clean_df['Max Temp']) & (clean_df['Max Temp'] < 80)
                     &(clean_df['Humidity'] <= 33)
                     &(clean_df['Cloudiness'] <= 33)
                     &(clean_df['Wind Speed'] < 10)]
perfect_df

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
63,63,Arlit,18.74,7.39,76.68,17,0,7.52,NE,1603587317
123,123,Marzuq,14.40,46.47,60.94,30,0,2.19,YE,1603587413
152,152,Suratgarh,29.32,73.90,70.84,22,0,7.96,IN,1603587459
189,189,Najrān,17.49,44.13,60.80,25,0,3.36,SA,1603587519
323,323,Pokhara,28.23,83.98,63.97,27,0,5.39,NP,1603587748
329,329,Fallon,39.47,-118.78,71.60,17,20,5.82,US,1603587758
353,353,Nāwa,27.02,75.00,66.06,26,0,4.29,IN,1603587796
399,399,Concepción del Oro,24.63,-101.42,66.90,33,2,3.33,MX,1603587866
497,497,Gweta,-20.18,25.23,76.95,33,12,9.44,BW,1603588031
521,521,Sabha,27.04,14.43,63.91,30,0,6.46,LY,1603588066

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [60]:
hotel_name = []

params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key}

for i, rows in perfect_df.iterrows():
    
    params['location'] = (perfect_df['Latitude'],perfect_df['Longitude'])
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
        
    name_address = requests.get(base_url, params=params)
    
    try:

ValueError: Length of values (0) does not match length of index (10)

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure