# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
cities_df = pd.read_csv('../WeatherPy/Output/cities.csv')
cities_df

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Ushuaia,-54.80,-68.30,44.60,70,75,5.86,AR,1603587071
1,1,Manta,-0.95,-80.73,73.40,78,90,8.05,EC,1603586852
2,2,Busselton,-33.65,115.33,73.99,34,29,10.31,AU,1603586630
3,3,Ponta do Sol,32.67,-17.10,62.60,77,20,4.70,PT,1603586853
4,4,Albany,42.60,-73.97,46.99,67,43,4.00,US,1603586944
...,...,...,...,...,...,...,...,...,...,...
548,548,Santa Flavia,38.09,13.54,66.99,62,0,10.00,IT,1603588110
549,549,Key Largo,25.09,-80.45,80.01,96,100,3.00,US,1603588111
550,550,Moerai,-22.43,-151.33,72.75,78,86,23.60,PF,1603588113
551,551,Kahului,20.89,-156.47,91.40,46,40,12.75,US,1603588114
552,552,Yasothon,15.75,104.13,73.99,77,100,8.55,TH,1603588115

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure